---

- name: SSO Realm management starting
  debug:
    msg:
      - "create_realms: {{create_realms}}"
      - "new_app_output_dir:  {{new_app_output_dir}}"
      - "realm_management_log_file = {{new_app_output_dir}}/{{realm_provisioning_log_file}}"
      - "start and end realms = {{start_realm}}  {{end_realm}}"

- set_fact:
    retrieve_token_url: "https://sso-{{ocp_project}}.{{ocp_apps_domain}}/auth/realms/master/protocol/openid-connect/token"
- set_fact:
    create_realm_url: "https://sso-{{ocp_project}}.{{ocp_apps_domain}}/auth/admin/realms"
- set_fact:
    delete_realm_sub_url: "https://sso-{{ocp_project}}.{{ocp_apps_domain}}/auth/admin/realms"





# 1)  Get access and refresh OAuth tokens
- include: refreshOAuthTokens.yml


# 2)  Create or delete configurable number of realms
- name: "Loop through realm prep {{start_realm}} {{end_realm}}"
  include: realmPrep.yml realmId="realm{{item}}"
  loop: "{{ range(start_realm|int, end_realm|int + 1, 1)|list }}"


- block:
    - name: "Load realm to facilitate business automation tooling (Process Automation Manager / Decision Manager)"
      set_fact:
        realmId: 'kieRealm'
    - template:
        src: templates/kie-realm.json
        dest: "{{new_app_output_dir}}/kie-realm.json"
        mode: 0755
    - set_fact:
         realm_body: "{{ lookup('file', '{{new_app_output_dir}}/kie-realm.json' ) }}"
    - debug:
        msg: "realm_body = {{realm_body}}"
        verbosity: 1
    - include: realmCreate.yml realmId="{{realmId}}"
    - debug:
        msg: "kie-realm.json      create_realm_response = {{create_realm_response}}"
  when: loadKieRealm|bool



- name: Realm Rollout Complete
  debug:
    msg: Realm Rollout Complete
